<div class="landing-page container">
  <div class="row">
	  <div class="task-box col-md-6 col-md-offset-3" >
      <h1>Attack</h1>
      <input id="flag-input" type="text" class="form-control" placeholder="{{ lang.task.placeholder }}">
      <button id="flag-submission" type="button" class="btn btn-block btn-primary">{{ lang.task.submit }}</button>
    </div>
  </div>
</div>
<span class="lang" data-success="{{ lang.task.success }}"
  data-failure="{{ lang.task.failure }}"></span>
<script src="{{ url_for('static', filename='js/submit.js') }}"
    type='text/javascript'></script>
